.wrapper
    button.dark-btn dark
    section.banner
        .banner__container
            .banner__info
                .banner__info-top Welcome Bonus*
                .banner__info-wrap
                    .banner__info-center #[span up to] 15 000 ₴
                    .banner__info-bottom 300 FS
                a(href="/sports/sport/soccer/").banner__info-link start the game
                .banner__info-sub * Bonus means the opportunity to receive a prize as part of the "Welcome bonus" Promotion. Details on the website favbet.ua. Promotion dates are from 01.02.2023 to 31.12.2023. The bonus is available for new customers only.